.header-nav {
    display: grid;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.logo {
    grid-area: logo;
    padding: 0 30px;
    height: 60px;
}
