@media screen and (min-width: 621px) {
	
	.header-nav {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: "logo . navbar register";
	}

	.fa-search:before  {
		display: none;
        
	}
}
@media screen and (max-width: 621px){
    .register{
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        width: auto;
        border-bottom: none;}
}



@media screen and (max-width: 620px) {
	
	.header-nav {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo . register" "navbar navbar navbar";
	}

	.search-button span {
		display: none;
        min-width: auto;
	}

	.search-button {
		padding-left: 25px;
		padding-right: 25px;
	}

	.nav-link {
		border-top: none;
		border-bottom: 5px solid var(--inactive);
		width: 50%;
	}

	.nav-link:hover {
		border-bottom: 5px solid var(--primary);
		border-top: none;
	}

	.active {
		border-bottom: 5px solid var(--primary);
	}

	.filtre-title {
		width: 100%;
	}

	.filtre-types {
		margin: 0 8px 9px 0;
	}

	.filtre-types i {
		min-width: 40px;
		min-height: 40px;
		margin-right: 0;
	}
}

@media screen and (max-width: 1500px) {
	.heb-section {
		flex-direction: column-reverse;
	}

	.heb-resum {
		width: 100%;
		justify-content: center;
	}

	.heb-card {
		max-width: 30%;
		margin: 14px;
	}

	.pop-section {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 880px) {
	.heb-card {
		max-width: 45%;
	}

	.act-box {
		max-width: calc(30% - 48px);
		margin: 0;
	}
}

@media screen and (max-width: 750px) {
	.heb-resum {
		background-color: rgb(255, 255, 255);
		padding: 0;
	}

	.heb-card {
		width: 100% ;
		max-width: 100% ;
		margin: 16px 0 ;
		box-shadow: 0 5px 15px #00000033;
	}

	.pop-section {
		margin-bottom: 32px ;
		padding: 0 16px;
	}

	.act-section {
		height: 1600px;
	}

	.act-content {
		display: block;
	}

	.act-box {
		width: 100%;
		max-width: 100%;
		margin: 32px 0;
	}

	.act-box:nth-of-type(1),
	.act-box:nth-of-type(2),
	.act-box:nth-of-type(3),
	.act-box:nth-of-type(4),
	.act-box:nth-of-type(5),
	.act-box:nth-of-type(6) {
		height: 40%;
	}

	
	.footer-container {
		display: block;
	}

	.footer-column {
		width: 100%;
		padding: 8px 16px;
	}
}